@font-face {
  font-family: "icomoon";
  src: url("/resources/font/backend/fonts/icomoon93d993d9.woff") format("woff"),
       url("/resources/font/backend/fonts/icomoon93d993d9.ttf") format("truetype");
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-size: 18px;
  speak: none;
}
